.checkbox-group { 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkbox-group > label {
    text-align: left;
    font-size: var(--label-font-size);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}