.radio-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio-group > label {
    text-align: left;
    font-size: var(--label-font-size);
}

.radio-container {
    display: flex;
    gap: 10px;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}