.radio-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio-group > label {
    text-align: left;
    font-size: 1.2rem;
}

.radio-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}