:root {
    --create-profile-padding: 9px;
}

.create-profile {
    display: flex;
    justify-content: center;
}

.create-profile__form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    margin: 25px;
    width: 700px;
}

/* Image */
.create-profile__image-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: var(--create-profile-padding);
}

/* Inputs */
.create-profile__input-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    padding: var(--create-profile-padding);
}

.create-profile__input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Tags */
.create-profile__tags-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: var(--create-profile-padding);
}

/* Bio */
.create-profile__bio-container {
    width: 100%;
    padding: var(--create-profile-padding);
}

.create-profile__alert-container {
    width: 100%;
    padding: var(--create-profile-padding);
}

/* Button */
.create-profile__button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 720px) {
    .create-profile__form {
        width: 90vw;
    }

    /* Inputs */
    .create-profile__input-container {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .submit-button {
        width: 100%;
    }
}

/* TEST BOX */
.dummy-box {
    height: 5vw;
    width: 100%;
    border: 1px black solid;
    /* background-color: red; */
}