.location-input {
    width: 100%;
}

.location-input > label {
    font-size: var(--label-font-size);
}

.location-input__container {
    position: relative;
    display: flex;
}

.location-input__icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 8px;
    height: var(--input-height);
}