/* 1444/758 */
.carousel {
  display: flex;
  min-width: 368px;
  min-height: 368px;

  border-radius: 10px;
  padding: 20px;
  padding-bottom: 20px;

  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  background: #BDC6D1;

  box-sizing: border-box;
}

div.scroll{
  display: none;
}

@media screen and (min-width: 600px) {
  .carousel {
    display: none;
  }

  div.scroll{
    margin: 4px, 6px;
    padding: 4px;
    width: auto;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
  }  
}


.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;

  transition: 1s ease-out;
}

.inputCarousel {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

.labelCarousel {
  width: 20%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: rgba(189,198,209,0.4);
  
  position: relative;
  z-index: 10;
}

.inputCarousel:checked+label {
  background: white;
}

.inputCarousel:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

.inputCarousel:checked+label+.ci~.ci {
  transform: translateX(100%);
}

.inputCarousel:not(:checked)+label+.ci {
  transition: 0;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #BDC6D1;
}

.scroll::-webkit-scrollbar
{
	border-radius: 10px;
	width: 20px;
	background-color: #BDC6D1;
}

.scroll::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #8D99AE;
  background-clip: content-box;
}
