:root {
    --photo-little-size: 46px;
    --photo-medium-size: 94px;
    --photo-large-size: 368px;
}

.photo{
    border-radius: 10%;
    object-fit: cover;
}

.little__photo{
    width : var(--photo-little-size);
    height : var(--photo-little-size);
}

.medium__photo{
    width : var(--photo-medium-size);
    height: var(--photo-medium-size);
}

.feedSize__photo{
    width: 300px;
    height: 300px;
}

.large__photo{
    width: var(--photo-large-size);
    height: var(--photo-large-size);
}

@media screen and (max-width: 500px) {
    .large__photo {
        width: 95vw;
        height: 95vw;
    }       
}
