.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.profile > h1, h2, h3, h4 {
    letter-spacing: 1px;
}


/* profile container */
.profile-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: calc(var(--photo-medium-size) / -2);
    width: 600px;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__left-container {
    display: flex;
    gap: 7px;
    align-items: center;
}

/* Name top label */
.name-top__light {
    color: var(--color-light-5);
}

.name-top__blind {
    color: var(--color-blind-5);
}

.name-top__dark {
    color: var(--color-dark-6);
}

/* Name bottom label */
.name-bottom__light {
    color: var(--color-light-8);
}

.name-bottom__blind {
    color: var(--color-blind-8);
}

.name-bottom__dark {
    color: var(--color-dark-8);
}

.name-label {
    font-size: var(--profile-h2-size);
}

/* Nav label color */
.nav-color__light,
.nav-color__blind {
    color: black;
}

.nav-color__dark {
    color: white;
}

.nav__right-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Main infos */
.profile-main-infos {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.profile-main-infos-top {
    display: flex;
    justify-content: space-between;
}

.profile-left-infos > h2 {
    line-height: 1.7rem;
}

.profile-right-infos > h3 {
    font-size: var(--profile-h3-size);
    text-align: right;
}

.profile-right-infos > h4 {
    font-size: var(--profile-h4-size);
    text-align: right;
}

/* Carousel */

/* Bio */

/* Tags */

/* Buttons */
.button-container {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    height: 40px;
    width: 100%;
}

/* Footer nav */
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #EED9DD;
    width: 100vw;
    display: flex;
    padding: 10px 0;
}

@media screen and (min-width: 600px) {
    .footer-nav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        gap: 20px;
    }

    .profile-container {
        width: 95vw;
        top: 0px;
    }

    .nav {
        display: none;
    }

    .profile-main-infos {
        flex-direction: column-reverse;
    }
}

@media screen and (min-height: 840px) {
    .footer-nav {
        position: fixed;
        bottom: 0px;
    }
}