:root {
    --profile-width: 600px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;

    h1, h2, h3, h4 {
        letter-spacing: 1px;
    }
}

/* profile container */
.profile-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: var(--profile-width);
}

/* Buttons */
.button-container {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    height: 40px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .profile {
        gap: 20px;
    }

    .profile-container {
        width: 95vw;
        top: 0px;
    }
}
