.chatProfile {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatProfile__light{
    border-top: solid var(--color-light-8) !important;
}

.chatProfile__blind{
     border-top: solid var(--color-blind-8) !important;
}

.chatProfile__dark{
     border-top: solid var(--color-dark-13) !important;
     color: var(--color-dark-6) !important;
}


.buttonDel{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    
    font-family: 'Courier New', Courier, monospace;
    opacity: 50%;
    align-self: flex-start;
    margin-top: 5px;
}

.buttonDel__light{
    background-color: var(--color-light-8) !important;
}

.buttonDel__blind{
    background-color: var(--color-blind-8) !important;
}

.buttonDel__dark{
    background-color: var(--color-dark-13) !important;
}

.divInfo{
    align-self:flex-end;
    width: calc(100% - 46px - 25px - 10px);
    height: 46px;
    margin-left: 5px;
}

.divNameDate{
    width: 100%;
    height: 19px;
    display: flex;
    justify-content: space-between;
}

.divMessage{
    width: 100%;
    height: calc(100% - 19px);
    display: flex;
    align-items: center;
    border-radius: 5px;
    
}

.divMessage__light{
    background-color: var(--color-light-6) !important;
}

.divMessage__blind{
    background-color: var(--color-blind-6) !important;
}

.divMessage__dark{
    background-color: var(--color-dark-11) !important;
}

.spanMessage{
    font-size: medium;
    padding: 0 5px;
}

.spanDate{
    align-self: flex-end;
    font-size: small;
}

.rondtrue{
    width: 15px;
    height: 15px;
    font-size: medium;
    background-color:var(--color-blind-8) !important;
    color:#fff; 
    text-align:center; 
    border-radius:50%;
    }