.boxMessage {
    width: 100%;
    display: flex;
    margin-top: 5px;

}

.message{
    padding: 3px 8px;
    border-radius: 10px;
    width: auto;
    max-width: 65%;
}

.boxMessagetrue{
    justify-content: flex-end;
}


.boxMessagefalse{
    justify-content: flex-start;
}

.messagetrue__light{
    background-color: var(--color-light-8) !important;
}

.messagefalse__light{
    background-color: var(--color-light-6) !important;
}

.messagetrue__dark{
    color: var(--color-dark-6) !important;;
    background-color: var(--color-dark-11) !important;
}

.messagefalse__dark{
    color: var(--color-dark-6) !important;;
    background-color: var(--color-dark-9) !important;
}

.messagetrue__blind{
    background-color: var(--color-blind-8) !important;
}

.messagefalse__blind{
    background-color: var(--color-blind-6) !important;
}