.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form__submit {
    width: 100%;
}

.arrowLeft{
    position: fixed;
    top:10px;
    left: 10px;
    color: #EE8B98;
}