/* Theme */
.background__light {
    background-color: var(--color-light-4);
}

.background__dark {
    background-color: var(--color-dark-10);
}

.background__blind {
    background-color: var(--color-light-4);
}

/* Global Styles */
.round {
    border-radius: 10px;
}