/* Global app variable */
:root {
    --input-font-size: 1.2rem;
    --label-font-size: calc(var(--input-font-size) + 0.1rem);
    --input-height: calc(var(--input-font-size) + 0.9rem);
    --header-padded-size: 11%;
    --border-radius: 10px;
}

/* Theme */
.background__light {
    background-color: var(--color-light-4);
}

.background__dark {
    background-color: var(--color-dark-10);
}

.background__blind {
    background-color: var(--color-light-4);
}

/* Global Styles */
.round {
    border-radius: var(--border-radius);
}