/* Main infos */
.profile-main-infos {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.profile-main-infos-top {
    display: flex;
    justify-content: space-between;
}

.profile-left-infos > h2 {
    line-height: 1.7rem;
}

.profile-right-infos > h3 {
    font-size: var(--profile-h3-size);
    text-align: right;
}

.profile-right-infos > h4 {
    font-size: var(--profile-h4-size);
    text-align: right;
}


.name-label {
    font-size: var(--profile-h2-size);
    text-transform: uppercase;
}

/* Nav label color */
.nav-color__light,
.nav-color__blind {
    color: black;
}

.nav-color__dark {
    color: white;
}

@media screen and (max-width: 600px) {
    .profile-main-infos {
        flex-direction: column-reverse;
    }
}

.rating0-20__light{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-light-6);
}


.rating20-40__light{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-light-7);
}

.rating40-60__light{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-light-8);
}

.rating60-80__light{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-light-9);
}

.rating80-100__light{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-light-10);
}

.rating0-20__blind{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-blind-6);
}


.rating20-40__blind{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-blind-7);
}

.rating40-60__blind{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-blind-8);
}

.rating60-80__blind{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-blind-9);
}

.rating80-100__blind{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-blind-10);
}

.rating0-20__dark{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-dark-3);
}


.rating20-40__dark{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-dark-5);
}

.rating40-60__dark{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-dark-4);
}

.rating60-80__dark{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-dark-2);
}

.rating80-100__dark{
    border-radius: 50px;
    margin: 2px;
    height: 10px;
    width: 100%;
    background-color: var(--color-dark-1);
}
