.inputChat{
    width: calc(100% - 50px);
}

.buttonChat{
    width: 50px;
    color: aliceblue;
    background-color: var(--color-light-3) !important;
}

.inputChatAndButton{
    margin-top: auto;
}

.chatPage{
    width: 500px;
    position: absolute;
    top: 360px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}