.single-slider {
    label {
        text-transform: uppercase;
    }

    span {
        font-size: 1.2rem;
    }
}

.labelDiv {
    font-size: var(--label-font-size);
}

$themes: "light", "blind", "dark";

@each $theme in $themes {
    .label-#{$theme} {
        @if ($theme == "dark") {
            color: white;
        } @else {
            color: black;
        }
    }
}