.titleMidLink {
    text-align: center;
    font-size: 6rem;
    line-height: 7rem;
    font-weight: 100;
    user-select: none;
}

/* 1444/758 */
@media screen and (max-width: 1400px) {
    .titleMidLink {
        text-align: center;
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 100;
        user-select: none;
    }   
}

.box__center{
    /* text-align: center; */
    display: flex;
   
}

.box__link {
    color: unset;
    
}

/* Light */
.box__color__light{
    background: radial-gradient(var(--color-blind-4) 30%, transparent);
    
    color: var(--color-light-10) !important;
}

/* Dark */
.box__color__dark {
    background: radial-gradient(var(--color-dark-10) 30%, transparent);
    color: var(--color-dark-6) !important;
}

/* Blind */
.box__color__blind {
    background: radial-gradient(var(--color-blind-4) 30%, transparent);
    color: var(--color-blind-10) !important;
}
