.title {
    font-size: 5rem;
    line-height: 4rem;
    font-weight: 100;
    user-select: none;
}

/* 1444/758 */
@media screen and (max-height: 768px) {
    .title {
        font-size: 1.80rem;
        line-height: 1.5rem;
        font-weight: 100;
        user-select: none;
    }   
}

/* Light */
.title__light__1 {
    color: var(--color-light-5);
}

.title__light__2 {
    color: var(--color-light-6);
}

.title__light__3 {
    color: var(--color-light-7);
}

.title__light__4 {
    color: var(--color-light-8);
}

/* Dark */
.title__dark__1 {
    color: var(--color-dark-1);
}

.title__dark__2 {
    color: var(--color-dark-2);
}

.title__dark__3 {
    color: var(--color-dark-4);
}

.title__dark__4 {
    color: var(--color-dark-5);
}

/* Blind */
.title__blind__1 {
    color: var(--color-blind-5);
}

.title__blind__2 {
    color: var(--color-blind-6);
}

.title__blind__3 {
    color: var(--color-blind-7);
}

.title__blind__4 {
    color: var(--color-blind-8);
}