:root {
    --color-blind-1: #2B2D42;
    --color-blind-2: #8D99AE;
    --color-blind-3: #BDC6D1;
    --color-blind-4: #EEF5ED;
    --color-blind-5: #E9E6ED;
    --color-blind-6: #E5D8ED;
    --color-blind-7: #DBBEED;
    --color-blind-8: #CC8AED;
    --color-blind-9: #AF24F0;
    --color-blind-10: #7B00D9;
}