:root {
    --color-dark-1: #690018;
    --color-dark-2: #7D0917;
    --color-dark-3: #994554;
    --color-dark-4: #A1182A;
    --color-dark-5: #A62C3E;
    --color-dark-6: #EEE6E9;
    --color-dark-7: #FFFFFF;
    --color-dark-8: #BDC6D1;
    --color-dark-9: #8D99AE;
    --color-dark-10: #212F45;
    --color-dark-11: #552C43;
    --color-dark-12: #3B2E44;
    --color-dark-13: #882941;
}