:root {
    --color-light-1: #2B2D42;
    --color-light-2: #8D99AE;
    --color-light-3: #BDC6D1;
    --color-light-4: #EDF2F4;
    --color-light-5: #EEE6E9;
    --color-light-6: #EED9DD;
    --color-light-7: #EEBFC6;
    --color-light-8: #EE8B98;
    --color-light-9: #EF233C;
    --color-light-10: #D80032;
}