:root {
    --color-light-red-shade-1: #D80032;
    --color-light-red-shade-2: #EF233C;
    --color-light-red-shade-3: #EE8B98;
    --color-light-red-shade-4: #EEBFC6;
    --color-light-red-shade-5: #EED9DD;
    --color-light-red-shade-6: #EEE6E9;

    --color-dark-red-shade-1: #690018;
    --color-dark-red-shade-2: #7D0917;
    --color-dark-red-shade-3: #882941;
    --color-dark-red-shade-4: #A62C3E;
    --color-dark-red-shade-5: #994554;
    --color-dark-red-shade-6: #EEE6E9;

    --color-blind-red-shade-1: #7B00D9;
    --color-blind-red-shade-2: #AF24F0;
    --color-blind-red-shade-3: #CC8AED;
    --color-blind-red-shade-4: #DBBEED;
    --color-blind-red-shade-5: #E5D8ED;
    --color-blind-red-shade-6: #EEE6E9;
}