.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: calc(var(--label-font-size) - 3px);
    height: 60px;
    width: 60px;
    border-radius: var(--border-radius);
    line-height: 16px;
}

/* Button color */
.button-color__light,
.button-color__blind {
    background-color: var(--color-light-4);
}

.button-color__dark {
    background-color: var(--color-dark-10);
}

.button__icon {
    width: 38px;
    height: 38px;
}

/* Button icon color */
.button__icon__light > path {
    fill: var(--color-light-8);
}

.button__icon__blind > path {
    fill: var(--color-blind-8);
}

.button__icon__dark > path {
    fill: var(--color-dark-8);
}

/* Button label color */
.button__label__light,
.button__label__blind {
    color: black;
}

.button__label__dark {
    color: white;
}

@media only screen and (min-width: 400px) {
    .button:hover {
        transform: scale(1.02);
        transition-duration: 100ms;
    }

    .button:active {
        transform: scale(1);
        transition-duration: 100ms;
    }
}
