.header {
    height: 138px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>h1 {
    font-size: 5rem;
    font-weight: 100;
}

.header__line {
    position: relative;
    top: -0.9rem;
    /* width: 100%; */
    height: 7px;
}

/* Center variant */
.center__left-line,
.center__right-line {
    width: 100%;
}

/* Left variant */
.left__left-line {
    width: var(--header-padded-size);
}

.left__right-line {
    width: 100%;
}

/* Right variant */
.right__left-line {
    width: 100%;
}

.right__right-line {
    width: var(--header-padded-size);
}

@media screen and (max-width: 600px) {
    .header {
        display: none;
    }
}

/* Light */
.header__light {
    background-color: var(--color-light-8);
}

.header__light>h1 {
    color: var(--color-light-6);
}

.header__light>div.header__line {
    background-color: var(--color-light-6);
}

/* Dark */
.header__dark {
    background-color: var(--color-dark-13)
}

.header__dark>h1 {
    color: var(--color-dark-6);
}

.header__dark>div.header__line {
    background-color: var(--color-dark-6);
}

/* blind */
.header__blind {
    background-color: var(--color-blind-8);
}

.header__blind>h1 {
    color: var(--color-blind-6);
}

.header__blind>div.header__line {
    background-color: var(--color-blind-6);
}