.bio {
    width: 100%;
}

.bio__counter-container {
    width: 100%;
    text-align: right;
}

/* Light / Blind */
.bio__counter__light,
.bio__counter__blind {
    color: dark;
}

/* Dark */
.bio__counter__dark {
    color: var(--color-dark-6);
}
