.autocomplete-container {
  width: 100%;
}

.autocomplete-input {
  background-color: var(--color-light-3);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 15px;
  height: var(--input-height);
  font-size: var(--input-font-size);
  width: 100%;
}

.no-autocomplete {
  color: #F5F5F5;
  padding: 8px;
}

.autocomplete::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #BDC6D1;
}

.autocomplete::-webkit-scrollbar {
  border-radius: 10px;
  width: 12px;
  background-color: #BDC6D1;
}

.autocomplete::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #8D99AE;
  background-clip: content-box;
}

.autocomplete {
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
}

.autocomplete li {
  padding: 8px;
}

.autocomplete-li__light,
.autocomplete-li__blind {
  color: dark;
}

.autocomplete-li__dark {
  color: var(--color-dark-6);
}

.autocomplete>.active,
.autocomplete li:hover {
  background-color: var(--color-light-3);
  color: dark;
  cursor: pointer;
  font-weight: 700;
}

.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
