.input-tag-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.tag-label-container {
    width: 100%;
    /* background-color: rebeccapurple; */
}

.tag-label-container > label { 
    font-size: var(--label-font-size);
}

.tags-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}